/* ===========================
   FAQ SECTION  STYLES
   =========================== */

#faq, #faq * {
  font-family: 'Lato', sans-serif !important;
  
}

#faq .wrapper {
  width: 100%;
}

#faq .container {
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25);
  margin: 20px 0;
  width: 100%;
}

#faq .question {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 80px 20px 20px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#faq .question::after {
  content: "\002B";
  font-size: 2.2rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
}

#faq .question.active::after {
  transform: rotate(45deg);
}

#faq .answercont {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  box-sizing: border-box;
}

#faq .answer {
  display: block;            
  text-align: left;
  white-space: normal;      
  overflow-wrap: break-word; 
  word-break: break-word;
  hyphens: auto;
  padding: 0 20px 20px;     
  font-size: 1rem;
  line-height: 1.5rem;
}
